*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}
/* Header */
header{
    top: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px #0000000d;
    position: sticky;
    padding-bottom: 2px;
    z-index: 99999;
}
/* Header Principal */
.header-content{
    align-items: center;
    display: flex;
    justify-content: center;
}
#Logo{
    position: relative;
    width: 100%;
    max-width: 75px;    
    height: 100%;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 0px;
}
#Logo-txt{
    position: relative;
    width: 100%;
    max-width: 130px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    line-height: 25px;
    color: #1E1E1E;
    margin-left: 19px;
    margin-top: 38px;
}
#Searchbar{
    position: relative;
    width: 100%;
    max-width: 675px;
    height: 100%;
    max-height: 50px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border-color: none;
    padding: 15px;
    margin-top: 34px;
    margin-left: 19px;
}
#Searchbar::placeholder{
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: #d9d9d9;
}
#User{
    position: relative;
    width: 31.77px;
    height: 31.14px;
    margin-top: 35px;
    margin-left: 16px;
}
#User-txt{
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 35px;
    margin-left: 4.3px;
}
#Fav{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 35px;
    max-width: 32px;
    margin-top: 35px;
    margin-left: 16px;
}
#Sacola{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 43px;
    max-height: 32px;
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 15px;
}
/* Categorias */
.nav-categorias{
    font-family: Poppins;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-categorias a{
    color: #000;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 25px 0;
    
}
#outlet{
    color: #CB333B;
}
.nav-categorias a:hover{
    color: #3b3b3b;
    text-decoration: underline;
}
#outlet:hover{
    color: #881f24;
    text-decoration: underline;
}
.sliders{
    margin: 35px auto 0;
    max-width: 1200px;
    width: 85%;
    overflow: hidden;
}
.slides{
    width: 400%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 600ms ease-in-out;
}
.slide img{
    max-width: 1200px;
    width: 100%;
    border-radius: 5px;
}
.navigation-manual{
    position: absolute;
    max-width: 1200px;
    width: 85%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1350px) {
  .navigation-manual {
   margin-top: 275px;
  }
}

.manual-btn1, .manual-btn2, .manual-btn3{
    border-radius: 100px;
    cursor: pointer;
    background-color: #d9d9d9;
    width: 22px;
    height: 22px;
    transition: 600ms;
}
.manual-btn1, .manual-btn2, .manual-btn3:not(:last-child){
    margin-right: 17px;
}
.manual-btn1:hover, .manual-btn2:hover, .manual-btn3:hover{
    background-color: #3b3b3b;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio1:checked ~ .navigation-manual .manual-btn1{
    background-color: #1E1E1E;
}
#radio2:checked ~ .navigation-manual .manual-btn2{
    background-color: #1E1E1E;
}
#radio3:checked ~ .navigation-manual .manual-btn3{
    background-color: #1E1E1E;
}
.pSlider{
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 1200px;
    width: 85%;
    max-height: 610px;
    height: 100%;
    margin: 68px auto 0;
    padding-top: 0.1px;
    text-align: center;
    position: relative;
}
.pSlider h1{
    font-family: 'Poppins';
    font-size: 3.5rem;
    line-height: 52.2px;
    margin: 37px 0 46px;
}
/* Carrossel de Produtos */
.Carrossel{
    position: relative;
    /* width: 1000px; */
    margin: 0 auto;
    gap: 40px;
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    transition-property: scroll-left;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    /* z-index: 0; */
   /*  padding-bottom: 27px; */
}
.cProduct{
    /* max-width: 250px;
    max-height: 447px; */
    width: 200px;
    height: 447px;
    /* padding: 5px; */
    /* margin: 0 40px; */
    display: inline-block;
}
.cProduct:first-child{
    margin-left: 80px;
}
.cProduct:last-child{
    margin-right: 80px;
}
.cProduct img{
    max-width: 200px;
    width: 100%;
}
.pNome{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 600;
}
.pMarca{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 400;
    text-decoration: underline;
    margin-top: -5px;
}
.pPrice{
    font-family: 'Poppins';
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
    margin-top: -10px;
}
.pParcel{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -10px;
}
.pCTA{
    background-color: #00903E;
    padding: 12px 57px;
    color: #D9D9D9;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: 600ms ease-in-out;
}
.pCTA:hover{
    background-color: #005022;
}
.next, .prev {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 6rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
    opacity: 0.05;
    transition: 600ms;
}
.prev {
    left: 0;
    background: linear-gradient(to right, #FFFFFF, transparent);
}
.next {
    right: 0;
    background: linear-gradient(to left, #FFFFFF, transparent);
}
.prev:hover, .next:hover{
    opacity: 1;
}
/* Blog */
.Blog-Container{
    margin-top: 68px;
    background-color: #D9D9D9;
    /* max-height: 572px;
    height: 100%; */
    width: 100%;
    padding-top: 86px;
    padding-bottom: 86px;
}
.Blog-Wrapper{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
    width: 85%;
    /* flex-wrap: wrap; */ /* Usar no media query */
}
.Blog-Img img{
    max-width: 350px;
    /* width: 100%; */
    border-radius: 5px;
    margin-right: 75px;
}
.Blog-Line{
    margin-right: 75px;    
}
.Blog-TXT{
    max-width: 668px;
    width: 100%;
    text-align: center;
    display: inline;
}
.Blog-TXT h1{
    font-family: 'Poppins';
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 5.2rem;
    text-align: left;
    margin-bottom: 32px;
}
.Blog-TXT p{
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    max-width: 668px;
    width: 100%;
    margin-bottom: 47px;
}
.Blog-TXT a{
    color: #000;
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 600ms;
}
.Blog-TXT a:hover{
    color: #3b3b3b;
    text-decoration: underline;
}
/* Formulário */
.Form-Container{
    text-align: center;
    margin-top: 68px;
}
.Form-Wrapper{
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 85%;
    gap: 8px;
    display: inline-flex;
    /* flex-wrap: wrap; */
}
.Form-Tittle{
    color: #000;
    font-family: 'Poppins';
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.7rem;
    margin-bottom: 1.6rem;
}
.Form-Name, .Form-Email{
    box-sizing: border-box;
    background-color: #f6f6f6;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 0.1rem solid #1E1E1E;
    border-radius: 5px;
    max-width: 341px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.Form-Name::placeholder, .Form-Email::placeholder{
    font-family: 'Poppins';
    font-size: 1.8rem;
    color: #d9d9d9;
    font-weight: 700;
}
.Form-Button{
    box-sizing: border-box;
    padding: 12px 50px;
    background-color: #00903E;
    color: #d9d9d9;
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 700;
    /* line-height: 2.7rem; */
    transition: 600ms;
    border-radius: 5px;
    cursor: pointer;
    max-height: 50px;
    height: 100%;
}
.Form-Button:hover{
    background-color: #005022;
}
/* Footer */
.Footer-Container{
    background-color: #1E1E1E;
    text-align: center;
    padding: 20px;
    margin-top: 68px;
}
.Footer-Container h2, .Footer-Container h3{
    color: #f6f6f6;
}
.Footer-Tittle{
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.7rem;
    margin-bottom: 6px;
}
.Footer-Container h3{
    font-family: 'Poppins';
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.7rem;
}
@media (max-width: 1000px){
    .Blog-Img, .Blog-Line{
        display: none;
    }
    .Blog-TXT h1{
        font-family: 'Poppins';
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 5.2rem;
        text-align: center;
        margin-bottom: 32px;
    }
    .Blog-TXT p{
        font-family: 'Poppins';
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.7rem;
        text-align: left;
        max-width: 668px;
        width: 100%;
        margin-bottom: 47px;
    }
    .Blog-TXT a{
        color: #000;
        font-family: 'Poppins';
        font-size: 2.5rem;
        font-weight: 700;
        text-decoration: none;
        transition: all 600ms;
    }
}
@media (max-width: 600px){
    .Form-Container{
        text-align: center;
        margin-top: 68px;
    }
    .Form-Wrapper{
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 85%;
        gap: 8px;
        display: inline-flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 450px){
    .pSlider h1{
        font-family: 'Poppins';
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 37px 5px 46px;
    }
    .cProduct:first-child{
        margin-left: 40px;
    }
    .cProduct:last-child{
        margin-right: 40px;
    }
    .next, .prev {
        cursor: pointer;
        position: absolute;
        height: 100%;
        width: 3rem;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        z-index: 1;
        opacity: 0.05;
        transition: 600ms;
        /* scale: 50%; */
    }
}