*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}
/* Header */
header{
    top: 0;
    width: 100%;
    /* height: 153px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 19px #0000000d;
    /* position: fixed; */
    position: sticky;
    padding-bottom: 2px;
    z-index: 99999;
}
/* Header Principal */
.header-content{
    /* margin: auto; */
    /* display: inline; */
    /* padding-top: 38px; */
    align-items: center;
    display: flex;
    justify-content: center;
    /* text-align: center; */
}
#Logo{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 100%;
    max-width: 75px;    
    height: 100%;
    /* margin: 22px 0 auto 0; */
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 0px;
}
#Logo-txt{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 100%;
    max-width: 130px;
    /* max-height: 44px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    line-height: 25px;
    color: #1E1E1E;
    margin-left: 19px;
    margin-top: 38px;
}
#Searchbar{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 100%;
    max-width: 675px;
    height: 100%;
    max-height: 50px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border-color: none;
    padding: 15px;
    /* margin: 34px 39px 0px 69px; */
    margin-top: 34px;
    margin-left: 19px;
}
#Searchbar::placeholder{
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: #d9d9d9;
}
#User{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 31.77px;
    height: 31.14px;
    /* margin: 43.43px 39px 0px 78.43px; */
    margin-top: 35px;
    margin-left: 16px;
}
#User-txt{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    /* width: 74px;
    height: 22px; */
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 35px;
    margin-left: 4.3px;
}
#Fav{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    max-width: 35px;
    max-width: 32px;
    margin-top: 35px;
    margin-left: 16px;
}
#Sacola{
    /* position: absolute; */
    position: relative;
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    max-width: 43px;
    max-height: 32px;
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 15px;
}
/* Categorias */
.nav-categorias{
    font-family: Poppins;
    /* font-weight: lighter; */
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-categorias a{
    color: #000;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 25px 0;
}
#outlet{
    color: #CB333B;
}
.nav-categorias a:hover{
    color: #3b3b3b;
    text-decoration: underline;
}
#outlet:hover{
    color: #881f24;
    text-decoration: underline;
}
.sliders{
    margin: 35px auto 0;
    max-width: 1200px;
    width: 85%;
    overflow: hidden;
}

.slides{
    width: 400%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 600ms ease-in-out;
}
.slide img{
    max-width: 1200px;
    width: 100%;
    border-radius: 5px;
}
.navigation-manual{
    position: absolute;
    max-width: 1200px;
    width: 85%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1350px) {
  .navigation-manual {
   margin-top: 275px;
  }
}

.manual-btn1, .manual-btn2, .manual-btn3{
    border-radius: 100px;
    cursor: pointer;
    background-color: #d9d9d9;
    width: 22px;
    height: 22px;
    transition: 600ms;
}
.manual-btn1, .manual-btn2, .manual-btn3:not(:last-child){
    margin-right: 17px;
}
.manual-btn1:hover, .manual-btn2:hover, .manual-btn3:hover{
    background-color: #3b3b3b;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio1:checked ~ .navigation-manual .manual-btn1{
    background-color: #1E1E1E;
}
#radio2:checked ~ .navigation-manual .manual-btn2{
    background-color: #1E1E1E;
}
#radio3:checked ~ .navigation-manual .manual-btn3{
    background-color: #1E1E1E;
}
