*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}
/* Header */
header{
    top: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 19px #0000000d;
    position: sticky;
    padding-bottom: 2px;
    z-index: 99999;
}
/* Header Principal */
.header-content{
    align-items: center;
    display: flex;
    justify-content: center;
}
#Logo{
    position: relative;
    width: 100%;
    max-width: 75px;    
    height: 100%;
    margin-top: 22px;
    margin-left: 15px;
    margin-right: 0px;
}
#Logo-txt{
    position: relative;
    width: 100%;
    max-width: 130px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    line-height: 25px;
    color: #1E1E1E;
    margin-left: 19px;
    margin-top: 38px;
}
#Searchbar{
    position: relative;
    width: 100%;
    max-width: 675px;
    height: 100%;
    max-height: 50px;
    background-color: #f6f6f6;
    border-radius: 5px;
    border-color: none;
    padding: 15px;
    margin-top: 34px;
    margin-left: 19px;
}
#Searchbar::placeholder{
    font-family: 'Poppins';
    font-size: 1.6rem;
    color: #d9d9d9;
}
#User{
    position: relative;
    width: 31.77px;
    height: 31.14px;
    margin-top: 35px;
    margin-left: 16px;
}
#User-txt{
    position: relative;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 35px;
    margin-left: 4.3px;
}
#Fav{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 35px;
    max-width: 32px;
    margin-top: 35px;
    margin-left: 16px;
}
#Sacola{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 43px;
    max-height: 32px;
    margin-top: 35px;
    margin-left: 16px;
    margin-right: 15px;
}
/* Categorias */
.nav-categorias{
    font-family: Poppins;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav-categorias a{
    color: #000;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0 25px 0;
    
}
#outlet{
    color: #CB333B;
}
.nav-categorias a:hover{
    color: #3b3b3b;
    text-decoration: underline;
}
#outlet:hover{
    color: #881f24;
    text-decoration: underline;
}
.sliders{
    margin: 35px auto 0;
    max-width: 1200px;
    width: 85%;
    overflow: hidden;
}
.slides{
    width: 400%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
    transition: 600ms ease-in-out;
}
.slide img{
    max-width: 1200px;
    width: 100%;
    border-radius: 5px;
}
.navigation-manual{
    position: absolute;
    max-width: 1200px;
    width: 85%;
    margin-top: 20%;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1350px) {
  .navigation-manual {
   margin-top: 275px;
  }
}

.manual-btn1, .manual-btn2, .manual-btn3{
    border-radius: 100px;
    cursor: pointer;
    background-color: #d9d9d9;
    width: 22px;
    height: 22px;
    transition: 600ms;
}
.manual-btn1, .manual-btn2, .manual-btn3:not(:last-child){
    margin-right: 17px;
}
.manual-btn1:hover, .manual-btn2:hover, .manual-btn3:hover{
    background-color: #3b3b3b;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio1:checked ~ .navigation-manual .manual-btn1{
    background-color: #1E1E1E;
}
#radio2:checked ~ .navigation-manual .manual-btn2{
    background-color: #1E1E1E;
}
#radio3:checked ~ .navigation-manual .manual-btn3{
    background-color: #1E1E1E;
}
.pSlider{
    background-color: #FFFFFF;
    border-radius: 5px;
    max-width: 1200px;
    width: 85%;
    max-height: 610px;
    height: 100%;
    margin: 68px auto 0;
    padding-top: 0.1px;
    text-align: center;
    position: relative;
}
.pSlider h1{
    font-family: 'Poppins';
    font-size: 3.5rem;
    line-height: 52.2px;
    margin: 37px 0 46px;
}
/* Carrossel de Produtos */
.Carrossel{
    position: relative;
    /* width: 1000px; */
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
    overflow: hidden;
    transition-property: scroll-left;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    z-index: 0;
}
.cProduct{
    /* max-width: 250px;
    max-height: 447px; */
    width: 200px;
    height: 447px;
    /* padding: 5px; */
    margin: 0 40px 27px;
    display: inline-block;
}
.cProduct:first-child{
    margin-left: 80px;
}
.cProduct:last-child{
    margin-right: 80px;
}
.cProduct img{
    max-width: 200px;
    width: 100%;
}
.pNome{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 600;
}
.pMarca{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 400;
    text-decoration: underline;
    margin-top: -5px;
}
.pPrice{
    font-family: 'Poppins';
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
    margin-top: -10px;
}
.pParcel{
    font-family: 'Poppins';
    font-size: 1.8rem;
    text-align: left;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: -10px;
}
.pCTA{
    background-color: #00903E;
    padding: 12px 57px;
    color: #D9D9D9;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 5px;
    transition: 600ms ease-in-out;
}
.pCTA:hover{
    background-color: #005022;
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 10vh;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    z-index: 1;
    opacity: 0.05;
    transition: 600ms;
}
.prev {
    left: 0;
    background: linear-gradient(to right, #FFFFFF, transparent);
}
.next {
    right: 0;
    background: linear-gradient(to left, #FFFFFF, transparent);
}
.prev:hover, .next:hover{
    opacity: 1;
}